
.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 80%;
  margin: 0 auto;
}


.left-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-section h1{
  font-size: 4rem;
  padding-bottom: 30px;
  margin-left: 100px;
}

.left-section p{
  font-size: 2rem;
  margin-left: 100px;
}

.left-section button{
  font-size: 2rem;
  background-color: rgb(27 93 198);
  margin-top: 40px;
  border-radius: 50px;
  padding: 10px;
  border: 0;
}


.right-section {
  width: 50%;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.base-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  object-fit: cover;
  z-index: 1;
}

.overlay-book-1 {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 200px; 
  z-index: 2;
}

.overlay-book-2 {
  position: absolute;
  top: 70%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 200px; 
  z-index: 2;
}

.overlay-chat{
  position: absolute;
  top: 20%;
  right: 20%;
  transform: translate(-50%, -50%);
  z-index: 2;
  
}
.overlay-glass{
  position: absolute;
  bottom: 22%;
  right: 25%;
  transform: translate(-50%, -50%);
  z-index: 2;
  
}


.card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.card-icon{
  width: 365px;
  background-color: rgb(242 246 250);
  margin: 15px 15px;
  margin-top: 130px;
}

.card-icon i{
  font-size: 50px;
  margin-top: 25px;
  margin-left: 25px;
  color: rgb(26 94 200);
}

.card-icon h2{
  font-size: 1rem;
  margin-left: 25px;
  margin-top: 25px;
  color: rgb(39 48 68);
}

.card-icon p{
  font-size: 1rem;
  margin-left: 25px;
  margin-top: 25px;
  padding-bottom: 25px;
  color: rgb(26 94 200);
}

.courses-category{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.card-ctg{
  margin: 20px;
}

.photo-courses-need-fix{
  margin-top: 28px;
}
.courses-category{
  display: flex;
  flex-direction: row;
  margin-left: 180px;
}


.photo-courses-big {
  width: 700px;
  height: 385px;
  transition: transform .2s;
  display: block;
}

.card-ctg.big{
  margin-left: 10px;
  margin-right: 40px;
  cursor: pointer;
}

.card-ctg.big p{
  margin-top: 10px;
}

.card-ctg.small{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  cursor: pointer;
}



.card-ctg.small p{
  margin-top: 5px;
}


.photo-courses-small, .photo-courses-need-fix {
  width: 100%;
  height: auto;
  transition: transform .2s;
  display: block;
}

.card-ctg:hover .photo-courses-big, .card-ctg:hover .photo-courses-small, .card-ctg:hover .photo-courses-need-fix, 
 {
  transform: scale(1.03); 
}

.card--course-bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  overflow: hidden;
}

.card--course-bottom img{
  transition: transform .2s;
}
.card--course-bottom div:hover img {
  transform: scale(1.03);
}
.card--course-bottom > div{
  margin: 5px;
}

.card--course-bottom p{
  padding-top: 10px;
}

.possibilites{
  display: flex;
  flex-direction: row;
  background-color: rgb(240 244 250);
  height: 600px;
  
}

.possibilites .lx{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; 
}

.possibilites .lx h1{
  width: 450px;
  font-size: 3rem;
  padding: 30px;
}

.possibilites .lx p{
  position: relative;
  width: 450px;
  font-size: 1.5rem;
  padding: 10px;
}



.possibilites .lx button{
  background-color: rgb(26 94 200);
  border-radius: 30px;
  padding: 15px;
  border: 0;
  color: white;
  
}

.possibilites .rx{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.possibilites .rx img{
  width: 500px;
  height: 500px;
  margin-right: 300px;
  
}

.recent-courses h1{
  text-align: center;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}

.menu li {
  background: white;
  padding: 10px;
  border-radius: 10px; 
  margin-right: 20px;
  cursor: pointer;
}

.menu li.selected {
  background: blue;
  color: white;
}


.card-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  flex-basis: calc(16% - 20px); 
  margin-bottom: 20px; 
}


.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card p {
  color: #888;
  font-size: 14px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating {
  color: gold;
  font-size: 16px;
}

.rating i {
  margin-right: 5px;
}

.card p,
.card h2,
.card-bottom p {
  margin: 0;
}

.showall-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  margin-bottom: 100px;
}

.show-all{
  background-color: rgb(54 86 196);
  color: white;
  border: 0;
  border-radius: 30px;
  padding: 10px;
}



.proud-up{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}
.proud-down {
  position: relative;
}

.proud-down img {
  display: block;
  width: 100%;
}

.proud-counter {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.counter {
  margin-bottom: 20px;
  padding: 80px;
}

.counter h1{
  color: rgb(39 48 68);
  font-size: 3.5rem;
}
.counter span{
  color: rgb(39 48 68);
  font-size: 1rem;
}

.subscribe-cont{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  background-color: rgb(79 215 168);
}

.subscribe-cont .rx-side{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: start;
 
  
}
button{
  border: 0;
}

.rx-side .rx-title{
  
}

.subscribe-cont .lx-side{
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  font-size: 15px;
  color: white;
  width: 600px;
}

.courses-input{
  display: flex;
  flex-direction: row;
  
}

.lx-side button{
  background-color: rgb(26 94 200);
  color: white;
  width: 350px;
}

.popular-courses-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: rgb(240 244 250);
}

card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(240 244 250);
}

.business-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.instructor,
.steup {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  margin: 150px;
}

.instructor-image,
.steup-image {
  flex: 0 0 auto;
}

.instructor-image img,
.steup-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.instructor-text,
.setup-text {
  flex: 1 1 auto;
}

.instructor-text h3,
.setup-text h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.instructor-text p,
.setup-text p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.instructor-text button,
.setup-text button {
  background-color: rgb(26 94 200);
  color: wheat;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}

.background-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-image: url('../assets/img/micah-296507-unsplash-1-copy-1-1920x700.jpg');
  background-size: cover;
  background-position: center;
}

.content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.7); 
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.content-container  p{
  font-size: 1rem;
  padding: 20px;
}
